// $main-blue: #26bec9;
// $main-blue: #2E86AB;
// $main-blue: #048BA8;
$main-blue: #2292A4;
// $main-blue: #0B7A75;
$main-white: #F5EFED;
$light-blue: #8ebfbf;
$main-gray: #666666;
$main-black:#232528;
$gray:#bebebe;
$light-gray: #EEEEEE;
$border-gray:#E6E6E6;
// $yellow: #F5F749;
$yellow: #FFB400;
$red: #7B2D26;

@mixin cursorPointer {
  &:hover {
    cursor: pointer;
  }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin getGridArea($name) {
  
}

/*nav使用者漸層背景*/
%userBackgroundGradient {
  background: -moz-linear-gradient(-45deg,  #b8e0d8 0%, #007a99 100%);
  background: -webkit-linear-gradient(-45deg,  #b8e0d8 0%,#007a99 100%); 
  background: linear-gradient(135deg,  #b8e0d8 0%,#007a99 100%);
}

