body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  // font-family: 'Avenir',Helvetica,'Noto Sans TC', sans-serif; 
  font-family: 'Noto Sans TC', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  color: #37474F;
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
  border: none;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.cursor-pointer {
  cursor: pointer;
}

textarea {
  font-family: "Noto Sans TC", sans-serif; 
  font-size: 1.2rem;
  color: #474747;
}

::placeholder {
  font-family: "Noto Sans TC", sans-serif; 
  font-size: .9rem;
  color: #808080;
}
