@import 'base';

.stop-event {
  pointer-events: none;
}

/*元件*/

i {
  margin-right: 1px;
  position: relative;
  top: 1px;
}

.date-of-birth {
  width: 100%;
  padding-left: 10px;
}

.continue-btn {
  margin-top: 30px;
  font-size: 0.9rem;
  background-color: $main-blue;
  color: #fff;
  border-radius: 4px;
  padding: 10px 20px;
}

.check-form-icon {
  position: absolute;
  font-size: 1.5rem;
  top: 5px;
  right: 10px;
  color: $main-blue;
  opacity: .8;
}

/*區塊*/

.booking-container-wrapper {
  min-height: 60vh;
  padding: 15px;
  background-color: $border-gray;
  display: flex;
  justify-content: center;
}

.booking-container {
  width: 100%;
}

.booking-step {
  display: flex;
  color: $second-gray;
  font-size: 0.9rem;
}

.booking-sub-title {
  margin-bottom: -15px;
  font-size: 1.1rem;
  color: $main-gray;
  margin-top: 30px;
}

.booking-block {
  width: 100%;
  margin: 25px 0;
  background-color: #fff;
  border-radius: 6px;
  padding: 15px;

  .block-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 900;
    margin-bottom: 15px;
    position: relative;

    .fold-icon-wrapper {
      height: 30px;
      display: flex;
      align-items: center;
    }

    .fold-icon {
      display: inline-block;
      position: relative;
      top: -3px;
      left: 5px;
      width: 10px;
      height: 10px;
      border-top: 2px solid $main-black;
      border-right: 2px solid $main-black;
      margin-right: 20px;
    }

    .link-to-product {
      pointer-events: auto;
    }

    .link-to-product:hover {
      text-decoration: underline;
    }
  }
}

.form-content {
  border-top: 1px solid $border-gray;
  display: flex;
  flex-direction: column;
  
  .form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
  
    label {
      font-size: 0.85rem;
      margin: 20px 0 5px 0;
      color: $main-gray;
    }
  
    .required-label::after {
      content: '*';
      position: relative;
      color: $pink;
      top: -2px;
      left: 2px;
    }
  
    input,
    select {
      border: 1px solid $border-gray;
      height: 45px;
      padding-left: 10px;
  
      &:focus {
        border: 1px solid $main-blue;
      }
    }
  }
  
  .form-sub-title {
    font-size: 1.1rem;
    font-weight: 900;
    position: relative;
    margin: 0 0 15px 15px;

    span {
      font-size: 0.75rem;
      color: $main-gray;
    }
  
    &::after {
      content: '';
      height: 24px;
      width: 4px;
      border-radius: 3px;
      background-color: $main-black;
      position: absolute;
      left: -15px;
      top: 1px;
    }
  }
  
  textarea {
        font-size: .9rem;
        border: 1px solid $border-gray;
        resize: none;
        border-radius: 6px;
        width: 350px;
        height: 100px;
        margin-bottom: 50px;
        padding: 10px 15px;
  }
  
  .coupon-option,
  .coupon-enter,
  .pay-option {
        display: flex;
        align-items: center;
  
        label {
          margin: 15px 0;
          padding-left: 15px;
          position: relative;
          font-size: 0.9rem;
  
          &:hover {
            cursor: pointer;
          }
        }
  
        input[type='radio'] {
          width: 15px;
        }
  }
  
  .coupon-input {
        margin: 15px 0;
        position: relative;
  
        .coupon-number {
          width: 200px;
  
          ~label {
            position: absolute;
            top: 48px;
            left: 0;
            font-size: .8rem;
          }
        }
  
        .coupon-btn {
          display: inline-block;
          color: $main-blue;
          font-size: 0.9rem;
          border: 1px solid $main-blue;
          border-radius: 4px;
          height: 45px;
          padding: 10px 15px;
          margin-left: 5px;
  
          &:hover {
            cursor: pointer;
            background-color: rgba(34,146,164,.2);
          }
        }
  }
}

/*旅客代表表格*/
.guest-form {
  margin: 30px 0 50px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;

  .guest-form-title {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    margin-bottom: 15px;
  
    span {
      color: $main-blue;
      font-size: 0.9rem;
            
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.ticket-detail {
  display: flex;
  pointer-events: none;
  font-size: 1rem;
  font-weight: normal;

  img {
    height: 55px;
    width: 85px;
    object-fit: cover;
    border-radius: 6px;
    background-color: rgb(233, 230, 227);
    margin-right: 15px;
  }

  .ticket-title {
    display: block;
    text-align: left;
    font-weight: 700;
    line-height: 1.8rem;
  }

  .ticket-info-list {
    display: block;
    min-height: 35px;

    span {
      display: inline-block;
      font-size: .95rem;
      color: $main-gray;
      margin: 10px 20px 0px 0;
      float: left;
    }
  }
}

/*付款明細*/
.bill-content {

  .bill-info {
    width: 100%;
  }
  
  .bill-detail {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    color: $main-gray;
    font-weight: 400;
    font-size: .95rem;
  }

  .bill-detail-time span{
    margin-right: 30px;
  }

  .bill-deatil-people {
    border-bottom: 1px solid $border-gray;

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 30px;
      margin: 10px 0;
    }
  }

  .bill-total,
  .bill-discount {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;

    span {
      font-weight: 800;
      color: $main-black;
    }
  }

  .bill-discount {
    font-size: .9rem;

    span {
      font-weight: 400;
      color: $main-blue;
    }
  }
  
  .total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px dashed $border-gray ;
    margin: 0 -15px;
    padding: 15px;
    font-weight: 900;
  
    span {
      font-weight: 600;
      font-size: 1.3rem;
      color: $main-blue;
    }
  }
}

.pay-btn {
  font-size: 1rem;
  background-color: $main-blue;
  color: #fff;
  border-radius: 4px;
  padding: 10px 30px;
  height: 57px;
  margin-left: 15px;
}

/*booking success page*/
.checkout-finish {
  min-height: 60vh;
}

@media screen and(min-width: 768px) {
  .booking-container {
    width: 700px;
  }
}