@charset "UTF-8";
.guest-form, .checkout-finish .order-detail {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  border-radius: 8px;
  padding: 15px;
}

/*nav使用者漸層背景*/
.stop-event {
  pointer-events: none;
}

/*元件*/
i {
  margin-right: 1px;
  position: relative;
  top: 1px;
}

.date-of-birth {
  width: 100%;
  padding-left: 10px;
}

.continue-btn {
  margin-top: 30px;
  font-size: 0.9rem;
  background-color: #2292A4;
  color: #fff;
  border-radius: 4px;
  padding: 10px 20px;
}

.check-form-icon {
  position: absolute;
  font-size: 1.5rem;
  top: 5px;
  right: 10px;
  color: #2292A4;
  opacity: .8;
}

/*區塊*/
.booking-container-wrapper {
  min-height: 60vh;
  padding: 15px;
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.booking-container {
  width: 100%;
}

.booking-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #AAAAAA;
  font-size: 0.9rem;
}

.booking-sub-title {
  margin-bottom: -15px;
  font-size: 1.1rem;
  color: #666666;
  margin-top: 30px;
}

.booking-block {
  width: 100%;
  margin: 25px 0;
  background-color: #fff;
  border-radius: 6px;
  padding: 15px;
}

.booking-block .block-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 900;
  margin-bottom: 15px;
  position: relative;
}

.booking-block .block-top .fold-icon-wrapper {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking-block .block-top .fold-icon {
  display: inline-block;
  position: relative;
  top: -3px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #232528;
  border-right: 2px solid #232528;
  margin-right: 20px;
}

.booking-block .block-top .link-to-product {
  pointer-events: auto;
}

.booking-block .block-top .link-to-product:hover {
  text-decoration: underline;
}

.form-content {
  border-top: 1px solid #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-content .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.form-content .form-item label {
  font-size: 0.85rem;
  margin: 20px 0 5px 0;
  color: #666666;
}

.form-content .form-item .required-label::after {
  content: '*';
  position: relative;
  color: #ef7a70;
  top: -2px;
  left: 2px;
}

.form-content .form-item input,
.form-content .form-item select {
  border: 1px solid #f0f0f0;
  height: 45px;
  padding-left: 10px;
}

.form-content .form-item input:focus,
.form-content .form-item select:focus {
  border: 1px solid #2292A4;
}

.form-content .form-sub-title {
  font-size: 1.1rem;
  font-weight: 900;
  position: relative;
  margin: 0 0 15px 15px;
}

.form-content .form-sub-title span {
  font-size: 0.75rem;
  color: #666666;
}

.form-content .form-sub-title::after {
  content: '';
  height: 24px;
  width: 4px;
  border-radius: 3px;
  background-color: #232528;
  position: absolute;
  left: -15px;
  top: 1px;
}

.form-content textarea {
  font-size: .9rem;
  border: 1px solid #f0f0f0;
  resize: none;
  border-radius: 6px;
  width: 350px;
  height: 100px;
  margin-bottom: 50px;
  padding: 10px 15px;
}

.form-content .coupon-option,
.form-content .coupon-enter,
.form-content .pay-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-content .coupon-option label,
.form-content .coupon-enter label,
.form-content .pay-option label {
  margin: 15px 0;
  padding-left: 15px;
  position: relative;
  font-size: 0.9rem;
}

.form-content .coupon-option label:hover,
.form-content .coupon-enter label:hover,
.form-content .pay-option label:hover {
  cursor: pointer;
}

.form-content .coupon-option input[type='radio'],
.form-content .coupon-enter input[type='radio'],
.form-content .pay-option input[type='radio'] {
  width: 15px;
}

.form-content .coupon-input {
  margin: 15px 0;
  position: relative;
}

.form-content .coupon-input .coupon-number {
  width: 200px;
}

.form-content .coupon-input .coupon-number ~ label {
  position: absolute;
  top: 48px;
  left: 0;
  font-size: .8rem;
}

.form-content .coupon-input .coupon-btn {
  display: inline-block;
  color: #2292A4;
  font-size: 0.9rem;
  border: 1px solid #2292A4;
  border-radius: 4px;
  height: 45px;
  padding: 10px 15px;
  margin-left: 5px;
}

.form-content .coupon-input .coupon-btn:hover {
  cursor: pointer;
  background-color: rgba(34, 146, 164, 0.2);
}

/*旅客代表表格*/
.guest-form {
  margin: 30px 0 50px 0;
}

.guest-form .guest-form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 900;
  margin-bottom: 15px;
}

.guest-form .guest-form-title span {
  color: #2292A4;
  font-size: 0.9rem;
}

.guest-form .guest-form-title span:hover {
  cursor: pointer;
}

.ticket-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
  font-size: 1rem;
  font-weight: normal;
}

.ticket-detail img {
  height: 55px;
  width: 85px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  background-color: #e9e6e3;
  margin-right: 15px;
}

.ticket-detail .ticket-title {
  display: block;
  text-align: left;
  font-weight: 700;
  line-height: 1.8rem;
}

.ticket-detail .ticket-info-list {
  display: block;
  min-height: 35px;
}

.ticket-detail .ticket-info-list span {
  display: inline-block;
  font-size: .95rem;
  color: #666666;
  margin: 10px 20px 0px 0;
  float: left;
}

/*付款明細*/
.bill-content .bill-info {
  width: 100%;
}

.bill-content .bill-detail {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  color: #666666;
  font-weight: 400;
  font-size: .95rem;
}

.bill-content .bill-detail-time span {
  margin-right: 30px;
}

.bill-content .bill-deatil-people {
  border-bottom: 1px solid #f0f0f0;
}

.bill-content .bill-deatil-people .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30px;
  margin: 10px 0;
}

.bill-content .bill-total,
.bill-content .bill-discount {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}

.bill-content .bill-total span,
.bill-content .bill-discount span {
  font-weight: 800;
  color: #232528;
}

.bill-content .bill-discount {
  font-size: .9rem;
}

.bill-content .bill-discount span {
  font-weight: 400;
  color: #2292A4;
}

.bill-content .total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px dashed #f0f0f0;
  margin: 0 -15px;
  padding: 15px;
  font-weight: 900;
}

.bill-content .total-price span {
  font-weight: 600;
  font-size: 1.3rem;
  color: #2292A4;
}

.pay-btn {
  font-size: 1rem;
  background-color: #2292A4;
  color: #fff;
  border-radius: 4px;
  padding: 10px 30px;
  height: 57px;
  margin-left: 15px;
}

/*booking success page*/
.checkout-finish {
  min-height: 60vh;
  width: 100%;
  background-color: #f0f0f0;
}

.checkout-finish .order-detail {
  background-color: #FFF;
}

.checkout-finish .order-detail .item {
  margin: 15px 0;
}

.checkout-finish .order-detail span {
  font-weight: 500;
  margin-right: 5px;
}

.checkout-finish .order-detail i {
  font-weight: 700;
  margin-right: 5px;
  color: #666666;
}

.checkout-finish .orderlist-link {
  float: right;
  margin-top: -55px;
  margin-right: 10px;
}

.checkout-finish .orderlist-link:hover {
  background-color: #8ebfbf;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .booking-container {
    width: 700px;
  }
}
/*# sourceMappingURL=booking.css.map */