@import 'reset','base','calendar';

li {
  list-style-type: disc;
  margin: .9rem;
}

hr {
  height: 1px;
  border-width:0;
  background: $border-gray;
}

input {
  border: 1px solid $border-gray;
  height: 45px;
  border-radius: 4px;
  padding-left: 10px;
}

select {
  width: 100%;

  &:invalid {
    color: $border-gray;
  }
}

.select-wrapper {
  position: relative;

  &::after {
    content: "";
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: $second-gray transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%); 
  }
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  label {
    font-size: 0.85rem;
    margin: 20px 0 5px 0;
    color: $main-gray;
  }
  
  .required-label::after {
    content: '*';
    position: relative;
    color: $pink;
    top: -2px;
    left: 2px;
  }
  
  input,
  select {
    border: 1px solid $border-gray;
    height: 45px;
    padding-left: 10px;
  
    &:focus {
      border: 1px solid $main-blue;
    }
  }
}

.main-color {
  color: $main-blue;
}

.btn {
  color: #FFF;
  border-radius: 6px;
  padding: 8px 15px;
  background-color: $main-blue;
}

/*附註說明文字*/
.caption-tag {
  font-size: .85rem;
  color: $main-gray;
  // letter-spacing: 1px;
}

/*提示文字與動畫*/
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s ease-in-out;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

/*收藏愛心*/
.add-favorite{
  font-size: inherit;
  &:hover {
    cursor: pointer;
  }  
}

.remove-favorite {
  color: $pink;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }  
}


// .popup {
//   animation-duration: .6s;
//   animation-iteration-count: 1;
//   animation-name: popup;
//   animation-timing-function: ease-in-out;
   
// }

.main-container {
  margin-top: 50px;
}

@media screen and (min-width: 996px) {
  .main-container {
    margin-top: 60px;
  }
  
  .container {
    margin: 0px 130px;
  }
}