@import 'reset','base','calendar';

li {
  list-style-type: disc;
  margin: .9rem;
}

hr {
  height: 1px;
  border-width:0;
  background: $border-gray;
}

input {
  border: 1px solid $border-gray;
  height: 45px;
  border-radius: 4px;
  padding-left: 10px;
}

select {
  width: 100%;

  &:invalid {
    color: $border-gray;
  }
}

.select-wrapper {
  position: relative;

  &::after {
    content: "";
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: $second-gray transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%); 
  }
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  label {
    font-size: 0.85rem;
    margin: 20px 0 5px 0;
    color: $main-gray;
  }
  
  .required-label::after {
    content: '*';
    position: relative;
    color: $pink;
    top: -2px;
    left: 2px;
  }
  
  input,
  select {
    border: 1px solid $border-gray;
    height: 45px;
    padding-left: 10px;
  
    &:focus {
      border: 1px solid $main-blue;
    }
  }
}

.main-color {
  color: $main-blue;
}

.btn {
  color: #FFF;
  border-radius: 6px;
  padding: 8px 15px;
  background-color: $main-blue;
  font-weight: 600;
}

img {
  object-fit: cover;
  transition: all .3s ease-in;
}

img[lazy=loading] {
opacity: 0;
}
img[lazy=loaded] {
 opacity: 1;
}

.breadcrumbs {
  font-size: .8rem;
  padding: 15px 0;

  span {
    margin: 0 5px;
    color: $main-gray;
  }

  a {
    color: $main-blue !important;
  }
  
  .router-link-active.active {
    font-weight: 900;
  }
}

/* dialog */
.dialog-top {
  height: 8px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background: -moz-linear-gradient(-45deg, #b8e0d8 0%, #007a99 100%);
  background: -webkit-linear-gradient(-45deg, #b8e0d8 0%, #007a99 100%);
  background: linear-gradient(135deg, #b8e0d8 0%, #007a99 100%);
}

.dialog-close {
  font-size: 1.2rem;
  padding: 10px 15px 0 0;
  text-align: right;
  color: rgb(184, 179, 179);
  height: 40px;
  font-weight: lighter;

  &:hover {
    cursor: pointer;
    color: brown;
  }
}

/** slick */
.slick-slide {
  padding: 0 5px;
}

.slick-arrow {
  // @include flexCenter;
  background-color: #fff;
  opacity: 0.7;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  width: 45px;
  height: 45px;
  top: 150px;
  font-weight: 900;
  color: transparent;
  z-index: 999;

  &.slick-disabled {
    opacity: 0;
  }

  &.slick-next:after,
  &.slick-prev:after {
    position: relative;
    top: -10px;
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-top: 2px solid $second-gray;
    border-right: 2px solid $second-gray;
  }

  &.slick-prev:after {
    transform: rotate(-135deg);
    left: 3px;
  }

  &.slick-next:after {
    transform: rotate(45deg);
    right: 3px;
  }

  &.slick-next {
    right: 0px;
  }

  &.slick-prev {
    left: 0;
  }
}

/*附註說明文字*/
.caption-tag {
  font-size: .85rem;
  color: $main-gray;
  // letter-spacing: 1px;
}

/*提示文字與動畫*/
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s ease-in-out;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.main-container {
  margin-top: 50px;
}

@media screen and (min-width: 996px) {
  .main-container {
    margin-top: 60px;
  }
  
  .container {
    margin: 0px 130px;
  }
}