@import 'base';

.nav {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 99;
  padding: 0 30px;
  background-color: white;
}

.nav-brand {
  width: 80px;
  height: 30px;
  background: rgb(197, 201, 214);
}

/* Nav list collapse */
.nav-list-toggle-label {
  position: relative;
  height: 50px;
  cursor: pointer;
}

.hamburger,
.hamburger::after,
.hamburger::before {
  width: 20px;
  height: 3px;
  background: rgb(53, 52, 52);
}

.hamburger {
  position: relative;
  top: 25px;
  color: $main-gray;

  &::after {
    content: '';
    position: absolute;
    top: 7px;
  }
  &::before {
    content: '';
    position: absolute;
    top: -7px;
  }
}

.nav-list-toggle {
  position: absolute;
  display: none;

  &:checked {
    ~.nav-list {
      transform: scale(1, 1)
    }
  }
}

.nav-list-back {
  position: absolute;
  top:0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(66, 66, 66);
  opacity: .8;
}

/* Nav list */
.nav-list {
  position: absolute;
  z-index: 999;
  height: 100vh;
  width: 320px;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  transform: scale(0, 1);
  transition: transform 0.3s ease-out;
  transform-origin: right;
  font-size: .9rem;
}

.nav-item-user {
  display: flex;
  height: 90px;
  @extend %userBackgroundGradient;
  align-items: center;
  position: relative;

  .user-image {
    margin: 0 15px;
    background-color: rgb(78, 78, 78);
    border-radius: 100%;
    object-fit: cover;
    height: 50px;
    width: 50px;
  }
  .user-name {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
  }
  .user-setting {
    font-size: 1.2rem;
    color: white;
    position: absolute;
    right: 20px;
  }
}

.nav-item-link {
  height: auto;
  width: 100%;
  color: rgb(49, 49, 49);
  display: flex;
  align-items: center;
  margin: 15px 0 ;
  padding: 10px 20px;

  &:hover {
    background-color: $light-gray;
    cursor: pointer;
  }
}

/* Dropdown */
.dropdown-currency-content {
  width: 100%;
  position: absolute;
  display: none;
  background-color: white;
  z-index: 10;

  .dropdown-link {
    display: block;
    margin-left: 15px;
    margin-top: 0;
  }
}

.dropdown-currency-label {
  display: block;
  border-top: 1.5px solid rgb(230, 229, 229);
  margin-bottom: -20px;
  cursor: pointer;
  padding: 30px 0 10px 20px;

  &::after {
    content: '\003E';
    display: inline-block;
    transform: scale(1.8, 1) rotate(90deg); 
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: .5rem;
  }
}

.dropdown-currency-toggle {
  visibility: hidden;

  &:checked {
    ~.dropdown-currency-content {
      display: block;   
    }
    ~.dropdown-currency-label {
      background-color: rosybrown;
      transform: scale(1.5, 1) rotate(-90deg); 
    }
  }
}

@media screen and (min-width: 996px) {
  .nav-list {
    all: unset;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .hamburger {
    display: none;
  }

  .nav {
    padding: 0 130px;
    height: 60px;
    border-bottom: 1px solid rgb(192, 190, 190);
  }

  .nav-list-auth {
    border-radius: 12px;
    background-color: white;
    width: 250px;
    height: auto;
    right: 0;
    top: 60px;
    position: absolute;
    box-shadow: 1px 2px 3px 1px rgba($color: #272727, $alpha: .1);

    .nav-item-logout {
      padding: 10px 20px;
      margin: 10px 0;
      border-top: 1.5px solid rgb(226, 226, 226);
    }
  }

  .nav-item-user {
    background: transparent;
    border-radius: 12px 12px 0 0;
    border-bottom: 1.5px solid rgb(218, 212, 212);

    &:hover {
      background-color: rgb(184, 212, 212);
    }
    .user-name,
    .user-setting {
      color: $main-gray;
    }
  }

  .nav-item {
    display: flex;
    align-items: center;
    margin: 0 15px;
    height: 50px;

    .user-image {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      
      &:hover {
        cursor: pointer;
      }
    }
  }

  .nav-item-link {
    width: 100%;
  }

  .nav-item-currency {
    margin-top: 3px;
    position: relative;
    margin-right: 120px;
  }

  .dropdown-currency-label {
    border: none;
    padding: 0;
    margin: 0;
  }

  .dropdown-currency-content {
    box-shadow: 1px 2px 3px 1px rgba($color: #272727, $alpha: .1);
    text-align: right;
    width: 200px;
    position: absolute;
    display: none;
    top: 50px;
    right: 0;
    background-color: white;
    z-index: 10;

    .dropdown-link {
      width: 160px;
      display: block;
      margin: 0;
    }
  }
}