@import 'base';

.v-alert {
  margin-top: 15px;
  transition: display .3s ease-in-out;
}

.product-option-plan {
  background-color: $light-gray;
  margin: 0 -30px;
  padding: 30px;
}

.product-plan-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.plan-content {
  border-radius: 6px;
  background-color: #FFF;
  box-shadow: 3px 5px 10px 8px rgba(100,100,100,.1);
  width: 100%;
  padding: 20px;
  margin-bottom: 5px;
}

hr {
  margin: 0 -20px;
}

.plan-title, .plan-subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 15px;


  .title-label {
    border-radius: 3px;
    color: #FFF;
    background-color: $pink;
    font-size: .6rem;
    padding: 5px 8px;
    margin-left: 10px;
  }
}

.plan-subtitle  {
  font-size: 1rem;
  margin-top: 30px;
}

.redo {
  color: $main-blue;
  font-weight: 800;
}

.ticket-type {
  font-size: .9rem;
  color: $main-gray;
}

.benifit-bar {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  width: 100%;
  background: $light-gray;
  border-radius: 6px;
  margin: 15px 0;
  padding: 15px;
  white-space: nowrap;
  
  div {
    display: inline-block;
    font-size: .9rem;
    margin-right: 30px;
    padding: 10px;
    font-weight: normal;
  }
}

.date-option {
  margin-bottom: 30px;
}

.time-option-radio {
  font-size: .9rem;
  display: flex;
  padding: 15px 0;
  flex-wrap: wrap;

  input[type="radio"] {
    display: none;

    &:checked {
      ~.radio-label {
        color: #FFF;
        background-color: $main-blue;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 5px;
          right: 5px;
          border-color: #fff #fff transparent transparent;
          border-style: solid;
          border-width: 4px;
        }
      }
    }
  }

  .radio-label {
    text-align: center;
    display: inline-block;
    border: 1px solid $border-gray;
    border-radius: 6px;
    width: 80px;
    height: 40px;
    padding-top: 10px;
    margin: 0 5px 10px 0;

    &:hover {
      cursor: pointer;
      background-color: $border-gray;
    }
  }
}

.types-option-quantity {
  flex-direction: column;
  margin: 15px 0;

  .type-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;

    .type-name {
      font-weight: 900;

      span {
        font-size: .8rem;
        font-weight: normal;
        color: rgb(136, 136, 136);
        margin-left: 5px;
      }
    }

    .type-count span {
      font-size: .9rem;
      font-weight: 500;
      color: rgb(151, 151, 151);
    }
  }

  .counter {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin-left: 10px;
    
    button {
      width: 30px;
      height: 30px;
      border: 2px solid $main-blue;
      color: $main-blue;
      border-radius: 100%;
      font-size: 1.8rem;
      font-weight: 400;
      position: relative;
      margin-left: 5px;
  
      &:disabled {
        opacity: .4;
      }
    }
  
    .plus-btn::after {
      content: '\002B';
      position: absolute;
      top: -8px;
      left: 5px;
    }
  
    .minus-btn::after {
      content: '\2212';
      position: absolute;
      top: -8px;
      left: 5px;
    }
  }
}

.total-booking {
  border-top: 1px solid $border-gray;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 15px;

  .total-price {
    color: $main-blue;
    font-size: 1.2rem;
    font-weight: 500;

    span {
      font-size: .9rem;
      color: $main-gray;
      font-weight: normal;
    }
  }

  button {
    width: 120px;
    white-space: nowrap;
    background-color: $main-blue;
    padding: 10px 15px;
    border-radius: 4px;
    color: #FFF;
    margin: 15px 0 0 10px;

    &:disabled {
      background-color: $border-gray;
    }
  }

  .cart-btn {
    background-color: rgb(88, 175, 114);

  }
}

@media screen and (min-width: 996px) {
  .product-option-plan {
    margin: 0 -150px;
    padding: 30px 150px;
  }

  .benifit-bar {
    flex-direction: row;
    align-items: center;

    span {
      margin-right: 30px;
    }
  }

  .booking-content {
    display: grid;
    grid-template-columns: minmax(420px, 1fr) 50px 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
    'date . time'
    'date . type'
    'date .  booking';

    .date-option {
      grid-area: date;
    }

    .time-option {
      grid-area: time;
    }

    .types-option {
      grid-area: type;
    }

    .total-booking {
      grid-area: booking;
    }
  }
}