@import 'base';

.products-card-content {
  width: 100%;
}

.product-card,
.product-list-card {
  min-width: 270px;
  height: 305px;
  border: 1px solid $border-gray;
  border-radius: 8px;
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  opacity: 1;

  &:hover {
    .product-card-image,
    .product-card-detail {
      opacity: 0.7;
    }

    .flash-label {
      top: 134px;
      opacity: 1;
    }

    .product-card-detail .card-title .title-flash {
      transform: rotate3d(0, 1, 0, 6rad);
      color: $yellow;
      opacity: 1;
    }
  }
}

.product-card-image {
  height: 160px;
  width: 100%;
}

//立即確認標籤
.flash-label {
  position: absolute;
  top: 150px;
  left: 5px;
  padding: 5px 10px;
  font-size: 0.7rem;
  color: #fff;
  border-radius: 3px;
  background: $main-blue;
  box-shadow: 1px 2px 5px 3px rgba($color: #000000, $alpha: 0.2);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  letter-spacing: 1px;
  z-index:1;

  .flash-icon {
    margin-right: 3px;
  }

  .fa-caret-down {
    font-size: 1.5rem;
    position: absolute;
    top: 17px;
    color: $main-blue;
  }
}

.product-card-detail,
.product-list-card-detail {
  background-color: #FFF;
  padding: 10px;
  font-size: 0.8rem;
  color: $main-gray;

  .card-title {
    width: auto;
    padding-right: 45px;
    font-size: 1rem;
    font-weight: 450;
    color: $main-black;
    letter-spacing: 0.8px;
    margin-bottom: 5px;
  }

  .card-ordered {
    grid-area: ordered;

    i {
      color: $gray;
      margin-right: 3px;
    }
  }

  .card-place {
    grid-area: place;

    i {
      color: $gray;
      margin-right: 3px;
    }
  }

  .card-rating {
    grid-area: rate;
    height: 100%;
    display: flex;
    align-items: center;

    .star {
      font-size: 0.8rem !important;
    }
  }

  .card-price {
    grid-area: price;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 45px;
    
    .original {
      text-align: right;
      text-decoration: line-through;
      height: 15px;
    }

    .price-now {
      font-weight: 600;
      span {
        font-size: 1.2rem;
        color: $main-blue;
      }
    }
  }
}

.product-card-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr auto auto 30px;
  grid-gap: 3px;
  grid-template-areas:
    'title title'
    'ordered .'
    'place price'
    'rate price';

  .card-title {
    grid-area: title;
    min-height: 50px;
    @include textOverflow(2);
  }

  .title-flash {
    transition: transform 0.3s ease-out;
    color: $main-blue;
    margin: 3px;
    transform: rotate3d(0, 0, 0, 0);  
  }
}

.product-list-card {
  height: auto;
  border-radius: 8px;

  .product-list-card-image {
    height: 160px;
    width: 100%;
  }
  
  .product-list-card-detail {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 10px 10px;
  
    .check-span,
    .cancel-span {
      color: #FFF;
      font-size: .7rem;
      border-radius: 3px;
      padding: 4px 8px;
      font-weight: 700;
      background-color: $yellow;
      margin-right: 5px;
    }
  
    .cancel-span {
      background-color: $pink;
    }
  
    .card-title {
      font-weight: 700;
      margin: 10px 0;
    }
  
    .card-introduction {
      min-height: 40px;
      margin-bottom: 10px;
      @include textOverflow(3);
    }
  
    .card-policy,
    .card-date {
      font-size: .7rem;
    }
  
    .card-bottom {
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  
    .card-ordered .fa-hotjar {
      color: $yellow;
    }
  }
}


@media screen and (min-width: 762px) {
  .product-list-card {
    display: flex;
    width: 100%;
    height: 230px;
    border-radius: 8px;

    .product-list-card-image {
      height: 100%;
      max-width: 240px;
    }
  
    .product-list-card-detail {
      padding: 20px;
      width: 100%;
      height: 100%;

      .card-title {
        height: 2rem;
        @include textOverflow(1)
      }

      .card-introduction {
        @include textOverflow(2);
    }
    }
  }
}

@media screen and (min-width: 996px) {
  .slick-arrow {
    &.slick-next {
      margin-right: -45px;
    }

    &.slick-prev {
      margin-left: -45px;
    }
  }
}