@import 'base';

.nav-item-sign {
  position: relative;
  padding: 10px 0;
  width: 320px;
  margin: 10px 0;
  left: 15px;

  &:hover {
    background-color: $border-gray;
    left:0;
    padding-left: 15px;
  }
}

.signform-dialog-content {
  border-radius: 10px;
  height: 500px;
  width: 100%;
  background: white;
  background-color: #F5EFED;
  position: relative;
}

.alert {
  position: absolute;
  width: 330px;
  top: 15px;
  left: 60px;
}

.sign-form {
  margin: 30px 60px;
  position: relative;
}

.form-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.sign-email-lable,
.sign-password-label,
.sign-check-password-label {
  position: absolute;
  top: 70px;
  left: 10px;

  i {
    color: rgb(182, 180, 180);
  }
}
.sign-password-label {
  top: 145px;
}

.sign-check-password-label {
  top: 220px;
}

.sign-input {
  border: 0.5px solid gainsboro;
  width: 100%;
  height: 45px;
  border-radius: 4px;
  padding-left: 35px;
  margin: 15px 0;
  color: $main-gray;

  &::placeholder {
    margin-left: 30px;
  }
  &:focus {
    border: 0.5px solid $main-blue;
  }
}

.sign-in-btn,
.sign-up-btn {
  width: 100%;
  height: 45px;
  border-radius: 4px;
  margin-top: 45px;
  color: white;
  font-weight: 500;
  background: $main-blue;
}

.sign-up-btn {
  margin-top: 15px;
}

.sign-up-link {
  font-size: 0.9rem;
  color: gray;
  margin-top: 10px;
  letter-spacing: 1px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@media screen and (min-width: 996px) {
  .nav-item-sign {
    position: static;
    top: 10px;
    left: 100px;
    padding: 5px 0;
    margin-right: 15px;
    width: 100px;
    text-align: center;

    &:hover {
      left: 120px;
      background-color: $border-gray;
      padding-left: 0;
    }
  }
}